{
    presets: [
        "./web/node_modules/babel-preset-es2015",
        "./web/node_modules/babel-preset-react"
    ],

    plugins: [
        "./web/node_modules/babel-plugin-transform-class-properties",
        "./web/node_modules/babel-plugin-transform-decorators-legacy",
        "./web/node_modules/babel-plugin-transform-object-rest-spread"
    ],
}
