.sidebar {
    border-right: 1px solid #eee;
    width: 15em;
    font-size: 1.4em;
    background: #777;
    color: #ddd;
    box-shadow: inset -7px 0 20px -7px rgba(0, 0, 0, 0.5);

    a {
        color: inherit;
        font-weight: 500;
    }

    > ul {
        list-style-type: none;
        margin: 0;

        > li {
            margin: 0;
            border-bottom: 1px solid #666;
            padding: 1em 2em;

            :global(a.active) {
                font-weight: 600;
            }
        }
    }
}
