.sidebar {
    border-right: 1px solid #eee;
    width: 15em;
    font-size: 1.4em;

    > ul {
        list-style-type: none;
        margin: 0;

        > li {
            margin: 0;
            border-bottom: 1px solid #eee;
            padding: 1em 2em;

            :global(a.active) {
                font-weight: 600;
            }
        }
    }
}
